#addresses {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#addresses td, #addresses th {
  border: 1px solid #ddd;
  padding: 8px;
}

#addresses tr:nth-child(even){background-color: #f2f2f2;}

#addresses tr:hover {background-color: #ddd;}

#addresses th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}